.titles-soon{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:1024px){
    .titles-soon{
        padding-top: 200px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:768px){

}
@media (max-width:360px){

}
